<section>
    <div class="example-button-row">
      <button mat-button routerLink ="/dashboard/form-evento" color="primary">Crear nuevo evento</button>
    </div>
  </section>

      <h1>Eventos</h1>


<div class="container">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr *ngFor="let evento of eventos">
                <mat-card>
                  <mat-card-title>Nombre del evento: {{evento.nombre}}</mat-card-title>
                  <mat-card-subtitle>Dirección: {{evento.lugar}}</mat-card-subtitle>
                  <mat-card-subtitle>Precio: {{evento.precio}}</mat-card-subtitle>
                  <mat-card-subtitle>Estado: {{evento.estado}}</mat-card-subtitle>
                  <mat-card-actions>
                    <button mat-button (click)="detallesEvento(evento)">Mas información</button>
                    <button mat-button (click)="editarEvento(evento)">Editar</button>
                  </mat-card-actions>
                </mat-card>
                <br>
            </tr>
        </tbody>
    </table>
</div>