<mat-card>Tarjeta de registros</mat-card>
<section> 
  <table>
    <tr>
      <td>
          <img src="/assets/img/user.png" alt="0%" width="25%" height="25%">
          <br>
          <button mat-button routerLink ="/dashboard/form-comprador" color="basic">Registrarse como Comprador</button>
      </td>
      <td>
          <img src="/assets/img/shop.png" alt="0%" width="25%" height="25%">
          <br>
          <button mat-button routerLink ="/dashboard/form-vendedor" color="basic" >Registrarse como Vendedor</button>
      </td>
    </tr>
  </table>    
  <table>
    <tr>
      <td>
          <img src="/assets/img/empresa.png" alt="0%" width="15%" height="15%">
          <br>
          <button mat-button routerLink ="/dashboard/form-empresa" color="basic">Registrar empresa</button>
      </td>
    </tr>
  </table> 
</section>